html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
}

.btn{
    font-family: acumin-pro, sans-serif;
    font-weight: 600; 
    font-style: normal;
    font-size: 18px;
    line-height: 1.44; 
    border-radius: 0;
    text-decoration: none;
    padding: 15px 35px;
    text-transform: uppercase;
}

.primary-btn{
    background-color: #3F74FF;
    color: #FFFFFF;
}

.primary-btn:hover{
    background-color: #111111;
    color: #EDEDF5;
}
 
.secondary-btn{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.secondary-btn:hover{
    background-color: #111111;
    color: #FFFFFF;
    border: 1px solid #111111;
}

.third-btn{
    background-color: #111111;
    color: #FFFFFF;
}

.third-btn:hover{
    background-color: #3F74FF;
    color: #EDEDF5;
}


/* nav */
.navbar{
   padding-top: 21px;
   padding-bottom: 21px;
}

.navbar .navbar-nav .nav-link{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #35425B;
    font-size: 18px;      
    line-height: 1.44;
    transition: all 0.4s ease;
    text-transform: uppercase;
    border: none;
    border-bottom: 4px solid transparent;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 18px;      
    line-height: 1.44;
    transition: all 0.4s ease;
    text-transform: uppercase;   
    border: none;
    border-bottom: 4px solid #3F74FF;
}
/* nav */

/* home */
#home{
    padding-top: 135px;
    padding-bottom: 155px;
    background: url(../images/header-bg-img.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#home h1{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #EDEEF9;
    font-size: 24px;
    line-height: 1.41;
    letter-spacing: 1.92px;
    text-transform: uppercase;
}

#home .header-main-heading img{
    transform: translateY(-3px);
    margin-right: 10px;
}

#home h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 66px;
    line-height: 1.12;
    letter-spacing: -1.32px;
}

#home p{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.41;
}
/* home */

/* qualities */
#qualities{
    padding-top: 60px;
    padding-bottom: 60px;
}

#qualities h6{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 24px;
    line-height: 1.66;
    letter-spacing: -0.24px;
}
/* qualities */