html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
}

.btn{
    font-family: acumin-pro, sans-serif;
    font-weight: 600; 
    font-style: normal;
    font-size: 18px;
    line-height: 1.44; 
    border-radius: 0;
    text-decoration: none;
    padding: 15px 35px;
    text-transform: uppercase;
}

.primary-btn{
    background-color: #3F74FF;
    color: #FFFFFF;
}

.primary-btn:hover{
    background-color: #111111;
    color: #EDEDF5;
}
 
.secondary-btn{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.secondary-btn:hover{
    background-color: #111111;
    color: #FFFFFF;
    border: 1px solid #111111;
}

.third-btn{
    background-color: #111111;
    color: #FFFFFF;
}

.third-btn:hover{
    background-color: #EDEEF9;
    color: #111111;
}

.fourth-btn{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.fourth-btn:hover{
    background-color: #EDEEF9;
    color: #111111;
    border: 1px solid #EDEEF9;
}

.fifth-btn{
    background-color: transparent;
    color: #3F74FF;
    border: 1px solid #3F74FF;
}

.fifth-btn:hover{
    background-color: #111111;
    color: #FFFFFF;
    border: 1px solid #111111;
}


/* nav */
.navbar{
   padding-top: 21px;
   padding-bottom: 21px;
}

.navbar .navbar-nav .nav-link{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #35425B;
    font-size: 18px;      
    line-height: 1.44;
    transition: all 0.4s ease;
    text-transform: uppercase;
    border: none;
    border-bottom: 4px solid transparent;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 18px;      
    line-height: 1.44;
    transition: all 0.4s ease;
    text-transform: uppercase;   
    border: none;
    border-bottom: 4px solid #3F74FF;
}
/* nav */

/* home */
#home{
    padding-top: 135px;
    padding-bottom: 155px;
    background: url(../images/header-bg-img.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#home h1{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #C5D2E1;
    font-size: 24px;
    line-height: 1.41;
    letter-spacing: 1.92px;
    text-transform: uppercase;
}

#home .header-main-heading img{
    transform: translateY(-3px);
    margin-right: 10px;
}

#home h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 66px;
    line-height: 1.12;
    letter-spacing: -1.32px;
}

#home p{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.41;
}
/* home */

/* qualities */
#qualities{
    padding-top: 60px;
    padding-bottom: 60px;
}

#qualities h6{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 24px;
    line-height: 1.66;
    letter-spacing: -0.24px;
}
/* qualities */

/* stakes */
#stakes{
    padding-top: 140px;
    padding-bottom: 140px;
    background: url(../images/stakes-bg-img.jpg) no-repeat center;
    background-position: cover;
    width: 100%;
}

#stakes .stakes-body{
    max-width: 96%;
}

#stakes h3{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #5D677B;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

#stakes .stakes-main-heading img{
    transform: translateY(-3px);
    margin-right: 15px;
}

#stakes h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 54px;
    line-height: 1.11;
    letter-spacing: -0.54px;
}

#stakes p{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #35425B;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: -0.36px;
}
/* stakes */


/* services */
#services{
    padding-top: 140px;
    padding-bottom: 140px;
}

#services h3{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #5D677B;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

#services .service-main-heading img{
    transform: translateY(-3px);
    margin-right: 15px;
}

#services h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 54px;
    line-height: 1.11;
    letter-spacing: -0.54px;
}

#services .service-box{
    border-bottom: 2px solid #111111;
}

#services .service-box:hover{
    border-bottom: 2px solid #3F74FF;
    cursor: pointer;
}

#services .service-box h5{
   color:  #111111;
}

#services .service-box:hover h5{
    color: #3F74FF;
}

#services .service-box .service-box-heading span img{
    background: url(../images/services-tilt-arrow-icon.svg) no-repeat;
    background-position: cover;
 }
 
 #services .service-box:hover .service-box-heading span img{
    background: url(../images/services-right-blue-arrow-icon.svg) no-repeat;
    background-position: cover;
 }

#services h5{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 30px;
    line-height: 1.06;
    letter-spacing: -0.3;
    max-width: 75%;
}

#services .service-box-heading span img{
    transform: translateX(240px);
}
/* services */



/* contact */
#contact{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #3F74FF;
    background-position: cover;
}

#contact .contact-image img{
    width: 100%;
}

#contact .contact-body{
    margin-left: 70px;
}

#contact h3{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

#contact .contact-main-heading img{
    transform: translateY(-2px);
    margin-right: 15px;
}

#contact h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 54px;
    line-height: 1.11;
    letter-spacing: -0.54px;
    max-width: 85%;
}

#contact .contact-or p{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 1.4;
}

#contact .contact-number p{
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #EDEEF9;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 0.54;
}

#contact .contact-number a{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.66;
    letter-spacing: -0.24;
    text-decoration: none;
}
/* contact */


/* recent */
#recent{
    padding-top: 140px;
}

#recent h3{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #5D677B;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

#recent .recent-main-heading img{
    transform: translateY(-2px);
    margin-right: 15px;
}

#recent h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 54px;
    line-height: 1.11;
    letter-spacing: -0.54px;
}

#recent .recent-image{
    width: 100%;
}
/* recent */


/* work */
#work{
    padding-top: 140px;
    padding-bottom: 140px;
}

#work h3{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #5D677B;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

#work h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 54px;
    line-height: 1.11;
    letter-spacing: -0.54px;
}

#work .work-method{
    margin-bottom: 70px;
}

#work h5{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 30px;
    line-height: 1.06;
    letter-spacing: -0.3px;
}

#work p{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #35425B;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: -0.36px;
    max-width: 85%;
    margin: auto;
}

#work .work-or p{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #5D677B;
    font-size: 20px;
    line-height: 1.4;
}

#work .work-number p{
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #5D677B;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 0.54;
    transform: translateX(-30px);
}

#work .work-number a{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #3F74FF;
    font-size: 24px;
    line-height: 1.66;
    letter-spacing: -0.24;
    text-decoration: none;
}

#work .work-button{
    transform: translateX(60px);
}

#work .work-or{
    transform: translateX(32px);
}

#work .work-call-icon{
    transform: translateX(-10px);
}

#work .work-number{
    transform: translateX(-60px);
}
/* work */


/* about */
#about{
    padding-top: 130px;
    padding-bottom: 130px;
    background: url(../images/about-bg-img.jpg) no-repeat center;
    background-position: cover;
    width: 100%;
}

#about h3{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #CFCFCF;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

#about .about-main-heading img{
    transform: translateY(-3px);
    margin-right: 15px;
}

#about h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 54px;
    line-height: 1.11;
    letter-spacing: -0.54px;
}

#about p{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: -0.36px;
    max-width: 85%;
}
/* about */


/* testimonial */
#testimonial{
    padding-top: 140px;
    padding-bottom: 140px;
    background: url(../images/tesstimonial-bg-img.jpg) no-repeat center;
    background-position: cover;
    width: 100%;
}

#testimonial h3{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #5D677B;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

#testimonial h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 54px;
    line-height: 1.11;
    letter-spacing: -0.54px;
    max-width: 50%;
    margin: auto;
}

#testimonial p{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #111111;
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: -0.6px;
    max-width: 53%;
    margin: auto;
}

#testimonial h6{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 24px;
    line-height: 1.66;
    letter-spacing: -0.24px;
}
/* testimonial */


/* follow */
#follow{
    padding-top: 140px;
}

#follow h3{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #5D677B;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

#follow .follow-link a{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    font-size: 54px;
    line-height: 1.11;
    letter-spacing: -0.54px;
}
/* follow */


/* footer */
#footer .footer-top{
    background: #111111;
    background-size: cover;
}

#footer .footer-top .footer-body{
    padding-top: 65px;
    padding-bottom: 65px;
}

#footer .footer-top .footer-body .footer-text p{
    font-family: urbane, sans-serif;
    font-weight: 500;    
    font-style: normal;
    font-size: 16px;
    color: #BCBCBC;
    line-height: 1.625;
    letter-spacing: 0.32px;
}

#footer .footer-top .services a,
#footer .footer-top .navigation a,
#footer .footer-top .contact-us a{
    display: block;
}

#footer .footer-top .navigation a,
#footer .footer-top .services a,
#footer .footer-top .contact-us a{
    text-decoration: none;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D2D2D2;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 0.54px;
}
   

#footer .footer-top .footer-body h4{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.66;
    letter-spacing: -0.24px;
}

#footer .footer-top .footer-body .contact-us p{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D2D2D2;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 0.54px;
}
#footer .footer-bottom{
    padding-top: 24px;
    padding-bottom: 14px;
    background-color: #111111;
    background-position: cover;
    border-top: 1px solid #3F3F3F;
}

#footer .footer-bottom p{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #A5A5A5;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.54px;
}
/* footer */